<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login.css') }}">
</head>
<body>
    <header class="scrolling-header">
        <div class="scrolling-text">
            <p>Welcome to Smart-Yield</p>
        </div>
    </header>
    <div class="login-container">
        <h2>Login</h2>
        <form method="post" action="{{ url_for('login') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Login">
        </form>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="flash-message {{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
